/* homepage_styles.css */

/* Sticky header */
.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000; /* Ensure header is on top of other content */
}

.header-left {
  flex: 1;
}

.logo {
  margin: 0;
  color: #f4eae0;
  font-size: 40px;
}

.header-right ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header-right ul li {
  display: inline;
  margin-right: 50px;
}

.header-right ul li a,
.nav-btn {
  color: #f4dfc8;
  text-decoration: none;
}

.nav-btn {
  background-color: #803d3b; /* Red background color */
  border: none; /* Remove border */
  padding: 8px 16px; /* Add padding */
  border-radius: 4px; /* Add border radius for rounded corners */
}
.nav-btn:hover {
  background-color: #df3626;
}
/* Welcome message */
.welcome-message {
  padding: 20px;
  margin-top: 80px; /* Adjust according to the height of your header */
  text-align: center;
}

/* Dark background for the body */
body {
  background-color: #f4dfc8; /* Dark background color */
  color: #000000; /* White text color */
  justify-content: center;
  align-items: center;
  height: 100vh; /* Make the body take up the full height of the viewport */
}

h1 {
  color: #000000;
}

h2 {
  color: #000000;
}

form {
  background-color: #000000;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(55, 55, 55, 0.242);
  margin-bottom: 20px;
  width: 300px; /* Adjust width as needed */
  justify-content: center; /* Horizontally center */
  align-items: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="file"] {
  margin-bottom: 10px;
}

button[type="submit"],
input[type="submit"] {
  background-color: #f4dfc8;
  color: #1a130f;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover,
input[type="submit"]:hover {
  background-color: #78a083;
}

.upload-resumes form {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center; /* Vertically center */
  align-items: center; /* Horizontally center */
  height: 100%; /* Set height to make the form occupy full height */
}

.upload-resumes-sm {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  width: 100%; /* Set width to 100% */
  margin-left: 10%; /* Adjust margin as needed */
}

.upload-resumes {
  flex: 0 0 50%; /* Set width of each div */
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  height: 100%; /* Set height to make the form occupy full height */
  width: 100%;
}

/* homepage_styles.css */

#wordcloud {
  display: block; /* Ensure it's a block-level element */
  margin: 0 auto; /* Center horizontally */
  width: 100%; /* Set width to 100% */
  max-width: 800px; /* Optionally limit the maximum width */
}

.donut-chart-container {
  display: block; /* Ensure it's a block-level element */
  margin: 0 auto; /* Center horizontally */
  width: 100%; /* Set width to 100% */
  max-width: 800px; /* Optionally limit the maximum width */
}
