{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact - SkillMatch</title>
    <link
      rel="stylesheet"
      href="{% static 'homepage/css/homepage_styles.css' %}"
    />
  </head>
  <body>
    <header class="sticky-header">
      <div class="header-left">
        <h1 class="logo">SkillMatch</h1>
      </div>
      <nav class="header-right">
        <ul>
          <li><a href="{{ BASE_URL }}{% url 'home' %}">Home</a></li>
          <li><a href="{{ BASE_URL }}{% url 'about' %}">About</a></li>
          <li><a href="{{ BASE_URL }}{% url 'contact' %}">Contact</a></li>

          <li><a href="{% url 'signout' %}" class="nav-btn">Sign Out</a></li>
        </ul>
      </nav>
    </header>

    <div class="welcome-message">
      <p>Contact SkillMatch</p>
    </div>

    <!-- Other content sections will go here -->
  </body>
</html>
